@import "../../sass/base.scss";

///register course

.register {
    &__course {
        background: #f4f4f4;
        padding: 30px 0;
    }
}

.register {
    &__course__heading {
        font-size: 30px;
        color: $color-primary;
        font-weight: bold;
        margin-bottom: 12px;
        text-align: center;
        user-select: none;

        span {
            font-size: 45px;
            color: $color-secondary;
        }
    }
    &__course__paragraph {
        font-size: 16px;
        color: $color-primary;
        text-align: start;
        margin-left: 400px;
        margin-bottom: 6px;
        user-select: none;
    }
}

.form {
    &__register__course {
        background-color: #fff;
        padding: 30px 20px;
        margin-top: 25px;
    }
    &__register__course__heading {
        padding: 20px;
        font-size: 18px;
        color: $color-primary;
        font-weight: 400;
        user-select: none;
    }

    &__register__course__wrapper {
        padding: 0 20px;
        margin-bottom: 15px;
    }
    &__register__course__wrapper__label {
        display: block;
        font-size: 16px;
        color: $color-primary;
        margin-bottom: 6px;
        user-select: none;
    }
    &__register__course__wrapper__input {
        width: 100%;
        font-size: 16px;
        color: $color-primary;
        padding: 7px 12px;
        border: 1px solid #ccc;
        outline: none;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }

    &__register__course__wrapper__input:focus {
        box-shadow: 1px 1px 1px rgba($color-secondary, 0.8);
        border-color: $color-secondary;
    }
}

.form {
    &__register__display {
        width: 100%;
        position: relative;

        select {
            width: 100%;
            font-size: 16px;
            padding: 8px 12px;
            border: 1px solid #ccc;
            outline: none;
            box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
            border-radius: 5px;
            cursor: pointer;
            margin-top: 25px;
        }
    }
}

.form__register__button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        padding: 12px 35px;
        background: linear-gradient(-135deg, #96deda, #50c9c3);
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
        margin-top: 50px;
        border-radius: 3px;
        border: 1px solid transparent;
        user-select: none;
    }

    button:hover {
        border: 1px solid #50c9c3;
        color: #50c9c3;
        background: #fff;
        transition: all 0.2s ease-in-out;
    }
}
